
* {
	font-family: "freight-sans-pro"; 
	margin:0 auto;
	color:black;
	}

h1, h2, h3, a, ul, nav, aside, header, footer {
	display: block;
	font-weight:normal;
}
body {
	background:#d7d7d7;
}
#backdrop {
	height:100%;
	background:#d7d7d7 url('http://bugswag.com/Images/Grids_background_horizontal.jpg') repeat;
	background-position:top center;
	margin:0 auto;
}
.wrap {
	width:1000px;
}
h1 a{font-family:"angie-sans" !important;}
header h1{
	padding:35px 0 10px 0; 
}
header h2 {
		padding-bottom:15px;
		padding-left:13px;
}
h1	{
	font-family:"angie-sans" !important;
	font-size:45px;
	text-transform:uppercase;
	}
h2{
	font-family:"angie-sans";
	font-size:16px;
	color:#464646;
	text-transform:uppercase;
	}	
h3 {font-size:15px;}
ul, li {list-style-type: none;
	list-style-position: inside;}
li a:hover {font-weight: bold;}
a {
	text-decoration: none;
	color: #363636;	
}
header{
	font-family:"angie-sans";}
.greater-wrap {
	background-color:rgb(219, 217, 217);
	padding-bottom:25px;
	border-top:1px solid white;
	border-bottom:1px solid white;
	outline:1px solid rgb(172, 171, 171);
	margin-bottom:200px;
	}
.page-wrap {
	
	position:relative;
/* 	background-color:#7d7d7d */;
	width:1000px;
/* 
	-moz-box-shadow:    3px 3px 10px 4px rgb(175, 173, 173);
	-webkit-box-shadow: 3px 3px 10px 4px rgb(175, 173, 173);
	box-shadow:         3px 3px 10px 4px rgb(175, 173, 173);
 */
	}
.page-wrap-art {
	position:relative;
	height:700px;
	}
	
.main-content {
	min-height:500px;
	padding-right:200px;
}
.center{
/* 
	float:left;
 */
	display:block;
	width:600px;
	background-color:white; /* #ebe8e4 */
	-moz-box-shadow:    3px 3px 10px 4px rgb(175, 173, 173);
	-webkit-box-shadow: 3px 3px 10px 4px rgb(175, 173, 173);
	box-shadow:         3px 3px 10px 4px rgb(175, 173, 173);
	padding:20px;
	margin-top:25px;
	border-radius:10px;}
.center img{
	display:inline-block;
	float:left;
	width:230px;
	padding:15px 15px 5px 15px;
}
.center h3 {
	padding-top:8px;
	font-size:25px;
	text-align:center;

}
.center-left {
	width:250px;
	display:inline-block;
	float:left;
}
.center-right {
	width:500px;
	display:inline-block;
	float:right;
}

#hidingPlace {
	display: none;
}
nav {
	position:absolute;	
	top:40px;
	right:0;
/* 
	height:350px;
	width:225px;
 */
}
	
nav>ul li{
	width:220px;
}
	.dd {
		text-align:right;
				}
	ul.dd{
		width:210px;
		-webkit-padding-start: 0 !important;}
	.dd li{
			width:210px;
			}
	.dd li a{
		font-size:18px;				
		}
	.selected {
		font-weight:bold;}
	.mainList a{
		text-transform:uppercase;
		text-align:right;
		font-weight:normal;
		font-size:18px;
		font-family:"angie-sans";
		/*border: 1px solid red;*/}

#footer{
	color:#464646;
	display:block;
	float:right;}
	



/* CLEAR-FIX	 */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
} 
/* END CLEAR-FIX*/






	