/* 
nav {
	position:absolute;	
	top:40px;
	right:0;
}
 */
	
	.main-content-art-port{
		padding-right:200px; /* to make space for abspos'd nav */
		position:relative;
	}
	
		
		#subWork {
			/*width:500px;*/
			display:block;
			border-right:1px solid #999999;
			padding-right:4px;
			margin-top:4px;
			/*border: 1px solid green;*/}
		#subArtist {
		/*	width:500px;*/
			display:none;
			border-right:1px solid #999999;
			padding-right:4px;
			margin-top:4px;
/*				border: 1px solid green;*/}