
#backdrop{

	background:#d7d7d7 url('http://bugswag.com/Images/press-back-lt.jpg') repeat;
	
}

.center p {
	padding-left:25px;
}

			#subWork {
				/*width:500px;*/
				display:none;
				border-right:1px solid #999999;
				padding-right:4px;
				margin-top:4px;
				/*border: 1px solid green;*/}
			#subArtist {
			/*	width:500px;*/
				display:block;
				border-right:1px solid #999999;
				padding-right:4px;
				margin-top:4px;
/*				border: 1px solid green;*/}
	