
#backdrop{
	background:#d7d7d7 url('http://bugswag.com/Images/press-back-lt.jpg') repeat;
}


.center{
	text-align:center;
}
.center h1{
	font-size:26px;
	text-transform:none;
	
}
.center h2{
	text-align:left;
	font-size:18px;
		padding-bottom:10px;
		padding-top:18px;
		clear:both;
}

#centercenter{
	width:500px;
	margin:0 auto;
}
.event-thumb {

	overflow:hidden;
	float:left;
	padding-right:15px;
}
.event-thumb img{
	width:254px;
}
.event-thumb div{
	
}

#wrap-test{
	display:block;
	width:200px;
}
			

			#subWork {
				/*width:500px;*/
				display:none;
				border-right:1px solid #999999;
				padding-right:4px;
				margin-top:4px;
				/*border: 1px solid green;*/}
			#subArtist {
			/*	width:500px;*/
				display:block;
				border-right:1px solid #999999;
				padding-right:4px;
				margin-top:4px;
/*				border: 1px solid green;*/}
