
#backdrop{
	
	background:#d7d7d7 url('http://bugswag.com/Images/home-studio.jpg') no-repeat;
	background-position:top center;
	background-size:1200px 1500px;
}

#home-slideshow {
	
	position:absolute;
	top:45px;
	left:300px;
}
.center{
	position:relative;}
.center p{
	display:inline-block;
	width:200px;
	text-align:right;
	float:left;
}
.center img{
	padding:15px;
	width:auto;
	float:none;
}

			#subWork {
				/*width:500px;*/
				display:none;
				border-right:1px solid #999999;
				padding-right:4px;
				margin-top:4px;
				/*border: 1px solid green;*/}
			#subArtist {
			/*	width:500px;*/
				display:block;
				border-right:1px solid #999999;
				padding-right:4px;
				margin-top:4px;
/*				border: 1px solid green;*/}
