
#backdrop{
	height:1200px;
	width:1200px;
	background:#d7d7d7 url('http://bugswag.com/Images/home-studio.jpg') no-repeat;
	background-position:top center;
	background-size:1200px 1500px;
	margin:0 auto;
}
#page-wrap{height:700px}
#home-slideshow {
	
	position:absolute;
	top:45px;
	left:300px;
}
#center{
	float:left;
	display:block;
	width:600px;
	background-color:white; /* #ebe8e4 */
	-moz-box-shadow:    3px 3px 5px 6px #666;
	-webkit-box-shadow: 3px 3px 5px 6px #666;
	box-shadow:         3px 3px 5px 6px #666;
	padding:20px;
	margin:25px;
	border-radius:10px;
	position:relative;}
#center p{
	display:inline-block;
	width:200px;
	text-align:right;
	float:left;
}
#center img{
	display:inline-block;
	float:left;
	width:230px;
	padding:15px;
}
#center h3 {
	font-size:25px;
	text-align:center;

}
#center p {
/*	text-align:justify;
*/
}
			#subWork {
				/*width:500px;*/
				display:none;
				border-right:1px solid #999999;
				padding-right:4px;
				margin-top:4px;
				/*border: 1px solid green;*/}
			#subArtist {
			/*	width:500px;*/
				display:block;
				border-right:1px solid #999999;
				padding-right:4px;
				margin-top:4px;
/*				border: 1px solid green;*/}
