body{height:2200px;}
#backdrop{
	
	background:#d7d7d7 url('http://bugswag.com/Images/home-studio-background-sized.jpg');
	background-position:top center;
	background-size:1500px 2546px;
}

#home-slideshow {
	position:absolute;
	top:45px;
	left:300px;
}
.greater-wrap{
	padding-bottom:100px;
}
.center{
	position:relative;
	width: 757px;
}
.center p{
	display:inline-block;
	width:340px;
	text-align:left;
	float:left;
	margin-left:0;
	margin-top:25px;
}

#center-top {

 padding-bottom: 25px;
 margin:0;
 width:520px;
}
#center-bottom {
 border-top: 1px solid gray;
}

.home-page-header {
	text-transform:none;
	margin-top: 25px;
	font-size: 1.2em;
	font-family: "freight-sans-pro";
	text-align: left;
}
.home-page-list {
	margin-top: 25px;
}
.home-greeting {
	margin-top: 224px;
	vertical-align: top;
	display:inline-block;
	width:200px;
}


.image{
	padding:0;
	margin:15px;
	width:auto;
	float:left;
	height:375px;
}

			#subWork {
				/*width:500px;*/
				display:none;
				border-right:1px solid #999999;
				padding-right:4px;
				margin-top:4px;
				/*border: 1px solid green;*/}
			#subArtist {
			/*	width:500px;*/
				display:block;
				border-right:1px solid #999999;
				padding-right:4px;
				margin-top:4px;
/*				border: 1px solid green;*/}
