
#backdrop{

	background:#d7d7d7 url('http://bugswag.com/Images/press-back-lt.jpg') repeat;

}

#top-content{
	width:800px;
	height:80px;
	margin:0 auto;
}
#top-content h2{
	font-size:35px;
	text-transform:none;
	text-align:center;
	padding:20px 0;
	color:black;
	font-weight:normal;
}


.center-press {
	position:relative;
	padding-top:50px;
	display:none;
	background-color:white;
	-moz-box-shadow:    3px 3px 10px 4px rgb(175, 173, 173);
	-webkit-box-shadow: 3px 3px 10px 4px rgb(175, 173, 173);
	box-shadow:         3px 3px 10px 4px rgb(175, 173, 173);
	padding-bottom: 100px;
	}


			
			#subWork {
				/*width:500px;*/
				display:none;
				border-right:1px solid #999999;
				padding-right:4px;
				margin-top:4px;
				/*border: 1px solid green;*/}
			#subArtist {
			/*	width:500px;*/
				display:block;
				border-right:1px solid #999999;
				padding-right:4px;
				margin-top:4px;
/*				border: 1px solid green;*/}


.viewed {
	display:block;
}
#tab_section_wrapper{
	padding-top:15px;
	width: 800px;
	margin-left:-30px;
}
#tabs ul {
/*	margin: 0 0 0 0;*/

	display:block;
}

#tabs ul li {
	padding: 3px 10px 3px 10px;
	width:100px;
	height:25px;
	text-align: center;
	list-style: none;
	display: inline-block;
	background-color:#cccccc;
 	border-top:2px solid #666;
 	border-left:2px solid #666;
}
.selected-tab{
	background-color:white !important;

}
#tabs ul li:hover {
	background-color:white;
}